* {
    margin: 0;
    padding: 0;
    outline: 0; 
    box-sizing: border-box; /*padding e margin de todos os elementos nao extrapolem a sua height ou width */
}

html, body, #root {
    height: 100%;
}

body {
    background: #f5f5f5;
}

body, input, button {
    font-family: Arial, Helvetica, sans-serif;
}